<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{well.name}}</title>
</head>
<body style="background-color:#cacaca; font-family: monospace; font-size: 20px;"></bodystyle>  
  <h1>{{well.name}}</h1>
  <table style="border: 1px solid rgb(0, 0, 0);">
    <tbody>
      <tr>
        <td style="border: 1px solid rgb(0, 0, 0);">
          Давление
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">
          {{well.pressureValue}} Mpa
        </td>
      </tr>
      <tr>
        <td style="border: 1px solid rgb(0, 0, 0);">
          Температура 
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">
          {{well.temperatureValue}} °C
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>